version: "2.2"

networks:
  default:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.231.0/24
          gateway: 192.168.231.1


services:
  nginx-proxy:
    image: docker.io/nginx:1.14-alpine
    ports:
      - "127.0.0.1:${NGINX_PORT}:80"
    depends_on:
      - rest-on-couch
      - flavor-builder
      - printer-proxy
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./www:/data/www/
      - ./nginx/cache:/cache
    restart: always

  couchdb:
    image: docker.io/couchdb:2.3
    ports:
      - "127.0.0.1:${COUCHDB_PORT}:5984"
    environment:
      # CouchDB admin credentials
      COUCHDB_USER: admin
      COUCHDB_PASSWORD: ${COUCHDB_ADMIN_PASSWORD}
    volumes:
      - ${COUCHDB_DATA_DIRECTORY}:/opt/couchdb/data
      - ./couchdb/couch.ini:/opt/couchdb/etc/local.d/couch.ini
    restart: always

  rest-on-couch:
    build: ./rest-on-couch
    environment:
      COUCHDB_USER: admin
      COUCHDB_PASSWORD: ${COUCHDB_ADMIN_PASSWORD}
    expose:
      - 3000
    volumes:
      - ./pm2/rest-on-couch.yaml:/pm2-rest-on-couch.yaml
    depends_on:
      - couchdb
    restart: always
    env_file:
      - .env

  rest-on-couch-import:
    build: ./rest-on-couch
    command: >
      bash -c "/wait.sh && pm2-docker start /pm2-roc-import.yaml"
    environment:
      REST_ON_COUCH_LOG_LEVEL: "FATAL"
    volumes:
      - ./pm2/roc-import.yaml:/pm2-roc-import.yaml
      - ./rest-on-couch-home:/rest-on-couch/home
    depends_on:
      - couchdb
    restart: always
    env_file:
      - .env

  #  To enable the service, uncomment here and edit ./nginx-proxy/conf.nginx
  #  rest-on-couch-file-drop:
  #    build: ./rest-on-couch
  #    command: pm2-docker start /pm2-roc-file-drop.yaml
  #    volumes:
  #      - ./pm2/roc-file-drop.yaml:/pm2-roc-file-drop.yaml
  #    depends_on:
  #      - couchdb
  #    expose:
  #      - 3001
  #    restart: always
  #    env_file:
  #      - .env

  flavor-builder:
    image: docker.io/cheminfo/eln-flavor-builder:v2.0.0
    environment:
      DEBUG: "flavor-builder*"
      COUCHDB_USER: admin
      COUCHDB_PASSWORD: ${COUCHDB_ADMIN_PASSWORD}
    volumes:
      - ./flavor-builder-config.json:/flavor-config.json
      - ./www:/var/www/html/
    # Uncomment to use a custom on-tabs flavor-builder config
    # This is usually unnecessary
    #  - ./flavor-builder-on-tabs-config.json:/on-tabs-config.json
    depends_on:
      - couchdb
    restart: always

  printer-proxy:
    image: docker.io/cheminfo/eln-printer-proxy:v1.2.0
    command: pm2-docker start /pm2-proxy.yml
    volumes:
      - ./printer-proxy-config.yml:/config.yml
      # Uncomment to use a custom pm2 config
      # This should normally not be necessary
      #- ./pm2/printer-proxy.yml:/pm2-proxy.yml
    depends_on:
      - rest-on-couch
    expose:
      - 7770
    restart: always
