version: '2'
services:
  nginx-proxy:
    image: cheminfo/eln-nginx-proxy
    ports:
      # Map application to local port
      # It is better to use in apache a Proxy from port 80 to port 4444 in order
      # also to setup easily a certificate
      # You should not change the container port number ! In this case 80.
      - '4444:80'
    links:
      - couchdb
      - rest-on-couch
      - flavor-builder
      - printer-proxy
    #Uncomment to add web assets
    volumes:
      - ./nginx-proxy/conf.nginx:/etc/nginx/conf.d/default.conf
    #  - ./www-assets:/data/www/

  couchdb:
    image: cheminfo/eln-couchdb
    environment:
      # Customize CouchDB admin credentials
      COUCHDB_USER: admin
      COUCHDB_PASSWORD: password # CHANGE HERE
      COUCHDB_PRINTER_PASSWORD: password # CHANGE HERE
    volumes:
      # Map local CouchDB data directory. You should not change the container directory !
      # in this case: /usr/local/var/lib/couchdb/
      - ./couchdb-data:/usr/local/var/lib/couchdb/

  rest-on-couch:
    image: cheminfo/rest-on-couch:v4.0.2
    command: pm2-docker start /pm2-rest-on-couch.yaml
    expose:
      - 3000
    environment:
      DEBUG: 'couch:error,couch:warn,couch:debug'
    volumes:
      - ./pm2-rest-on-couch.yaml:/pm2-rest-on-couch.yaml
    # Map local roc home directory
      - ./rest-on-couch-home:/rest-on-couch
    links:
      - couchdb

  rest-on-couch-import:
    image: cheminfo/rest-on-couch:v4.0.2
    command: pm2-docker start /pm2-roc-import.yaml
    environment:
      DEBUG: 'couch:error,couch:warn,couch:debug'
      REST_ON_COUCH_LOG_LEVEL: 'FATAL'
    volumes:
    # Map local roc home directory
      - ./rest-on-couch-home:/rest-on-couch
      - ./pm2-roc-import.yaml:/pm2-roc-import.yaml
    links:
      - couchdb

#  To enable the service, uncomment here and edit ./nginx-proxy/conf.nginx
#  rest-on-couch-file-drop:
#    image: cheminfo/rest-on-couch:v4.0.2
#    command: pm2-docker start /pm2-roc-file-drop.yaml
#    environment:
#      DEBUG: 'couch:error,couch:warn,couch:debug'
#    volumes:
#      # Map local roc home directory
#      - ./rest-on-couch-home:/rest-on-couch
#      - ./pm2-roc-file-drop.yaml:/pm2-roc-file-drop.yaml
#    links:
#      - couchdb
#    expose:
#      - 3001

  flavor-builder:
    image: cheminfo/eln-flavor-builder
    environment:
      DEBUG: 'flavor-builder*'
      # Customize CouchDB admin credentials
      # They must be the same as in the "couchdb" container
      COUCHDB_USER: admin
      COUCHDB_PASSWORD: password
    # Uncomment to use a custom flavor-builder config
    # This is usually unnecessary
    #volumes:
    #  - ./flavor-config.json:/flavor-config.json
    links:
      - couchdb

  printer-proxy:
    image: cheminfo/eln-printer-proxy
    command: pm2-docker start /pm2-proxy.yml
    volumes:
      - ./printer-proxy-config.yml:/config.yml
    links:
      - rest-on-couch
    expose:
      - 7770
