[Unit]
Description=Docker eln app
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/local/bin/docker-compose -f /root/roc-eln-docker/docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose -f /root/roc-eln-docker/docker-compose.yml stop

[Install]
WantedBy=local.target
