[Unit]
Description=Docker eln app
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/local/bin/docker-compose -f /usr/local/docker/roc-eln-docker/docker-compose.yml up --build
ExecStop=/usr/local/bin/docker-compose -f /usr/local/docker/roc-eln-docker/docker-compose.yml stop

[Install]
WantedBy=multi-user.target
